extends layout

block content
  h2 Welcome back #{username}
  p You have successfully logged in :)
  form(method="post" action="/logout")
        input(type="submit" name="submit" value="Logout")

  - var values = secrets;
  if values.length > 0
    h3 Your Secrets...
    select(id="sortSecretsBy")
      option(value="Date" selected) Sort By Date
      option(value="Title") Sort By Title
    form(method="GET" action="/users/secrets")
      input(type="submit" name="submit" value="Sort Secrets")

    script.
      var sortSecretsById = document.getElementById("sortSecretsBy");
      var allCookies = document.cookie.replace("/ /g", "").split(";");

      for(var i = 0; i < allCookies.length; i++){
        if(allCookies[i].indexOf("sortByDate") > -1)
        {
          var sortBy = allCookies[i].split("=")[1] == "true" ? "Date" : "Title";
          sortSecretsById.value = sortBy;
        }
      }

      sortSecretsById.addEventListener("click", function(){
        var sortBy = sortSecretsById.value == "Date" ? "true" : "false";
        document.cookie = "sortByDate=" + sortBy + ";path=/";
      });

    div(id="accordion")
      each val in values.length ? values : ['There are no values']
        div(class="group")
          h3 #{val.secretTitle}
          div
            p(class="secretText") #{val.secret}
            button(class="editSecret button" id=val.secretId) Edit Secret
            form(class="updateSecret" method="POST" action="/users/secrets/updateSecret")
                input(type="text" name="newSecretText" class="newSecretText" value=val.secret)
                input(type="hidden" name="secretId" value=val.secretId)
                input(type="button" class="button cancel" value="Cancel")
                input(type="submit" name="submit" class="button" value="Save Changes")
            form(class="button deleteSecret" method="POST" action="/users/secrets/deleteSecret")
                input(type="hidden" name="secretId" value=val.secretId)
                input(type="submit" name="submit" value="Delete this Secret")

  h3 Add a New Secret.....
  form(method="POST" action="/users/secrets/addNewSecret")
    label(for="secretTitle") Secret Title:
    input(type="text" name="secretTitle" autofocus)
    br
    label(for="secret") Secret:
    input(type="text" name="secret")
    br
    input(type="submit" name="submit" value="Keep my Secret")
